<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--DB_Host, BI資料庫主機-->
    <add key="DBHost" value="." />
    <!--DB_Database, BI資料庫名稱-->
    <add key="DBDatabase" value="YaTzu" />
    <!--DB_User, BI資料庫連線帳號 -->
    <add key="DBUser" value="sa" />
    <!--DB_Passwd, BI資料庫連線密碼(加密)-->
    <!--Eason9379=EBAE8DB6E46F558A0BEBF8EB738F138F-->
    <!--UAT=C88EB97C980F308C9B450D6AAACD210F-->
    <add key="DBPassword" value="08180520" />
    <!--Latin1_General_CI_AI, Chinese_Taiwan_Stroke_CI_AS-->
    <add key="DBCollate" value="Chinese_Taiwan_Stroke_CI_AS" />
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>